.repoCard-div {
  /* background: rgb(156, 152, 152); */
  color: grey;
  height: inherit;
  margin: auto;
  width: 50%;
  padding: 1em;
  text-align: left;
}

.repo-info {
  margin: 1em auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  line-height: 30px;
}
