.github-user {
  text-align: center;
}

.App-header {
  text-align: center;
  background-color: #EEE;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-div {
  width: 100%;
  display: flex;
  align-items: center;
}

.search-bar {
 border: none;
 outline: none;
 background: none;
 padding: .6em 1em;
 border-radius: 16px;
 width: 50%;
 margin: 2em;

 box-shadow:
   inset -4px -4px 10px 4px #FFF,
   inset 4px 4px 10px 4px #C4C4C4;
 
 color: #AAA;
 font-size: 18px;
 transition: 0.2s ease-out;
}
.search-bar:focus {
  box-shadow:
   inset -1px -1px 3px 1px #FFF,
   inset 1px 1px 3px 1px #C4C4C4;
}

.image-div  {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 125px;
	width: 125px;
	background: #dde1e7;
	border-radius: 50%;
	box-shadow: -3px -3px 7px #ffffffa6, 3px 3px 5px rgba(94, 104, 121, 0.712);
	position: relative;
}
.image-div:after {
	content: '';
	position: absolute;
	height: 80%;
	width: 80%;
	background-color: transparent;
	border-radius: 50%;
	box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.671);
}

form {
  width: 100%;
}

.submit-btn {
  outline: none;
  border-radius: 4px;
  color: gray;
  cursor: pointer;
  border: 3px solid transparent;
  padding: 0.6em 1em;
  font-weight: 700;
  box-shadow: 
    -4px -4px 13px 4px #FFF,
    4px 4px 13px 4px #C4C4C4;
  }

.submit-btn:hover {
  box-shadow:
  -3px -3px 8px 3px #FFF,
  3px 3px 8px 3px #C4C4C4;
}
.submit-btn:focus {
  box-shadow: 
  -4px -4px 13px 4px #FFF,
  4px 4px 13px 4px #C4C4C4;
}

.repos-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .search-bar::placeholder {
    font-size: 10px;
  }
  
}